{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header">
            <h4 class="card-title"> My Tracking Address</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter " id="">
                <thead class=" text-primary">
                  <tr>
                    <th>
                      Nick Name
                    </th>
                    <th>
                      BTC Address
                    </th>
                    <th>
                      Balance
                    </th>
                    <th>
                      Time Added
                    </th>
                    <th>
                      Actions
                    </th>
                  </tr>
                </thead>
                <tbody>
                    {% for addr in addresses %}
                    <tr>
                        <td> {{ addr.nickname}} </td>
                        <td> {{ addr.address}} </td>
                        <td> {{ addr.balance}} </td>
                        <td> {{ addr.date_created.date() }} </td>
                        <td>
                            <a href="/transactions/{{addr.address}}">View Transactions</a>
                            <br>
                            <a href="/synchronize/{{addr.id}}">Synchronize Balance</a>
                            <br>
                            <a href="/delete/{{addr.id}}">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
              <form action="/tracking" method="POST">
                <input type="text" name="address" class="form-control" placeholder="Enter a BTC address">
                <input type="text" name="nickname" class="form-control" placeholder="Optional nick name for the address">
                <button type="submit" class="btn btn-fill btn-primary">Add wallet</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
